#media_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14vh;
}
#media_section #sectionPic {
  border: 1px solid #b59b07;
  display: flex;
  width: -moz-fit-content !important;
  width: fit-content !important;
  box-shadow: 6px 6px 6px #aeaeae;
  height: 100%;
  background-color: #000000;
  align-items: center;
}
#media_section #mediaSelectorCont {
  z-index: 2;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.8941176471);
}
#media_section #mediaSelectorCont #mediaBlackBg {
  background: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #000000;
  font-family: "Ledger";
  border: 1px solid #b59b07;
  box-shadow: 6px 6px 10px #949494 inset, -6px -6px 10px #949494 inset;
}
#media_section #mediaSelectorCont #mediaBlackBg .picSections {
  width: -moz-fit-content;
  width: fit-content;
}
#media_section #mediaSelectorCont #mediaBlackBg .picSections li {
  font-size: 16px;
  text-decoration: none;
  list-style: none;
  transition: scale 0.3s ease;
}
#media_section #mediaSelectorCont #mediaBlackBg .picSections li:not(.active):hover {
  cursor: pointer;
  scale: 1.02;
  font-weight: 600;
}
#media_section #mediaSelectorCont #mediaBlackBg .picSections li.active {
  color: #b59b07;
  font-weight: 600;
  scale: 1;
  letter-spacing: 0.03em;
}
#media_section #mediaContainer {
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8941176471);
  align-self: center;
}
#media_section #mediaContainer #brandLogo {
  position: absolute;
  width: 100%;
  height: 100%;
}
#media_section #mediaContainer #mediaShowCont {
  z-index: 2;
  min-height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
#media_section #mediaContainer #mediaShowCont #bigPic {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 55;
}
#media_section #mediaContainer #mediaShowCont #bigPic #singlePicCont {
  z-index: 55;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing button {
  scale: 1;
  transition: all 1s ease;
  background-color: transparent;
  border: 2px solid #b59b07;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #b59b07;
  display: flex;
  justify-content: center;
  align-items: center;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing button:hover {
  scale: 1.1;
  cursor: pointer;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv {
  overflow: hidden;
  width: 500px;
  height: 65vh;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #b59b07;
  background-color: #ffffff;
  box-shadow: 6px 6px 10px #949494 inset, -6px -6px 10px #949494 inset;
  margin: 0px 20px;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .picToEn {
  border: 3px solid #ffffff;
  max-width: 450px;
  max-height: 65vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 6px 6px 6px #aeaeae;
  transition: all 0.2s ease-in-out;
  border: 1px solid #b59b07;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .picToEn.show {
  border-radius: 0px;
  border: 0px solid #ffffff;
  box-shadow: 0px 0px #aeaeae;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .picToEn:hover {
  border-radius: 10px;
  box-shadow: 6px 6px 6px #aeaeae;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .mediaCaption {
  position: absolute;
  bottom: 5%;
  right: 87%;
  width: 73%;
  text-align: center;
  color: #f8f8f5;
  background-color: rgba(181, 155, 7, 0.5725490196);
  font-size: 20px;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode .picToEn {
  -o-object-fit: contain;
     object-fit: contain;
}
#media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode button {
  scale: 0;
}
#media_section #mediaContainer #mediaShowCont #bigPic::-webkit-scrollbar {
  height: 15px;
}
#media_section #mediaContainer #mediaShowCont #bigPic::-webkit-scrollbar-track {
  background-color: rgba(181, 181, 181, 0.4431372549);
  width: 2px !important;
  border-radius: 0px !important;
}
#media_section #mediaContainer #mediaShowCont #bigPic::-webkit-scrollbar-thumb {
  background-color: #b59b07;
  opacity: 1;
  border-radius: 0px !important;
}

#videoContainer .video-responsive {
  overflow: hidden;
  position: relative;
  min-height: 30vw;
  min-width: 30%;
}
#videoContainer .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
  body {
    width: 100% !important;
  }
  body #navBgScn {
    width: 100% !important;
  }
  body #media_section {
    align-items: center;
    margin-top: 14vh;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 95%;
    padding: 20px !important;
  }
  body #media_section > div {
    padding: 0px !important;
  }
  body #media_section #sectionPic {
    display: flex;
    width: 100% !important;
    height: 50% !important;
    margin-bottom: 20px;
    background-color: #000000;
  }
  body #media_section #sectionPic #mediaSelectorCont {
    z-index: 2;
    height: 41vh !important;
    width: 75% !important;
    padding: 20px !important;
    align-items: flex-start;
    justify-content: center !important;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg {
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100% !important;
    padding: 0px !important;
    margin-top: 20px;
    align-self: flex-end;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg .picSections {
    width: 100% !important;
    padding: 10px 30px !important;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg .picSections li {
    font-size: 15px;
  }
  body #media_section #mediaContainer {
    width: 89% !important;
    background-color: rgba(0, 0, 0, 0.8941176471);
    padding: 0px 20px !important;
    height: 100% !important;
    align-items: center !important;
  }
  body #media_section #mediaContainer #brandLogo {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body #media_section #mediaContainer #mediaShowCont {
    z-index: 2;
    height: 450px !important;
    min-height: 450px !important;
    max-height: 450px !important;
    width: 100% !important;
    padding: 0px !important;
    align-items: baseline !important;
    justify-content: flex-start;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic {
    width: 100% !important;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 55;
    padding: 5px 0px !important;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #singlePicCont {
    z-index: 55;
    width: 100% !important;
    align-self: baseline;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 380px !important;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .emptyBox {
    display: none;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button {
    margin: 10px;
    position: absolute;
    bottom: 0px;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button#nextPicture {
    margin: 10px;
    left: 50%;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button#prevPicture {
    left: 30%;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv {
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 10px !important;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .picToEn {
    max-width: 300px;
    max-height: 360px;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .mediaCaption {
    bottom: 15%;
    width: 100%;
    right: 100%;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode .picToEn {
    -o-object-fit: contain;
       object-fit: contain;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode button {
    scale: 0;
  }
  body #videoContainer {
    flex-direction: column;
    width: 100%;
  }
  body #videoContainer .video-responsive {
    overflow: hidden;
    position: relative;
    min-width: 80%;
    aspect-ratio: 1.5/1;
    margin: 10px 0px !important;
  }
}
@media only screen and (max-width: 700px) {
  body {
    width: 100% !important;
  }
  body .maxWidth1500 {
    padding: 0px !important;
    margin-top: 30px !important;
  }
  body .maxWidth1500 p {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  body .maxWidth1500 p.textGold {
    font-size: 20px !important;
  }
  body .fontSize18 {
    font-size: 16px !important;
  }
  body #media_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 90%;
    padding: 20px !important;
  }
  body #media_section > div {
    padding: 0px !important;
  }
  body #media_section #sectionPic {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    background-color: #000000;
    align-items: center;
    justify-content: flex-start;
  }
  body #media_section #sectionPic #mediaSelectorCont {
    z-index: 2;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 89% !important;
    padding: 20px !important;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg {
    height: -moz-fit-content;
    height: fit-content;
    width: 100% !important;
    padding: 0px !important;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg .picSections {
    width: 100% !important;
    padding: 10px 30px !important;
  }
  body #media_section #sectionPic #mediaSelectorCont #mediaBlackBg .picSections li {
    font-size: 15px;
  }
  body #media_section #mediaContainer {
    width: 89% !important;
    background-color: rgba(0, 0, 0, 0.8941176471);
    padding: 0px 20px !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  body #media_section #mediaContainer #brandLogo {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  body #media_section #mediaContainer #mediaShowCont {
    z-index: 2;
    height: 450px !important;
    min-height: 450px !important;
    max-height: 450px !important;
    width: 100% !important;
    padding: 0px !important;
    align-items: baseline !important;
    justify-content: flex-start;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic {
    width: 100% !important;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 55;
    padding: 5px 0px !important;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: flex-start;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #singlePicCont {
    z-index: 55;
    width: 100% !important;
    align-self: baseline;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 380px !important;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .emptyBox {
    display: none;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button {
    margin: 10px;
    position: absolute;
    bottom: 0px;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button#nextPicture {
    margin: 10px;
    left: 50%;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing button#prevPicture {
    left: 30%;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv {
    overflow: hidden;
    width: 100%;
    padding: 0px;
    margin: 10px !important;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .picToEn {
    max-width: 300px;
    max-height: 360px;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing .picDiv .mediaCaption {
    bottom: 15%;
    right: 0% !important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7333333333);
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode .picToEn {
    -o-object-fit: contain;
       object-fit: contain;
  }
  body #media_section #mediaContainer #mediaShowCont #bigPic #picShowing.fullscreen-mode button {
    scale: 0;
  }
  body #videoContainer {
    flex-direction: column;
    width: 100%;
  }
  body #videoContainer .video-responsive {
    overflow: hidden;
    position: relative;
    min-width: 100%;
    aspect-ratio: 1.5/1;
    margin: 10px 0px !important;
  }
  body .btnPrimary {
    margin-left: 0px !important;
  }
}/*# sourceMappingURL=media_page.css.map */