@import '../settings/common_style/website_variables';
* {padding: 0px; margin: 0px;}
html {
    height: 100%;
    margin: 0;
	overflow-y: hidden;
}
body {
	height: 100vh;
	overflow-y: auto;
	position: relative; 
}
p {color: #000000 !important;}
.titlesChef {
	font-family: 'Prata';
	font-size: 40px;
	font-weight: 500;
	margin-left: 15px;
	position: relative;
	width: fit-content;
	z-index: 5;
	letter-spacing: 0.03em;
	&::before {
		content: "";
		background-color: var(--secondaryColor);
		bottom: 5px;
		height: calc(100% - 10px);
		left: -25px;
		opacity: 0.5;
		position: absolute;
		width: calc(100%);
		z-index: -1;
	}
}
#homePage {
	background: url('../../images/servicesBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	#landingMenu { z-index: 5; }
	.navBar.biggerScreen {
		padding-bottom: 0vh;
		padding-top: 0vh;
	}
	#landingSection{
		// background-color: #00000003;
		// height: 100vh;
		// position: relative;
		// #landingPicBox {
		// 	background-color: #00000003;
		// 	height: 100%;
		// 	// width: 55%;
		// 	#heroLandingVideo {
		// 		height: 100%;

		// 	}
		// 	#videoOverlay {
		// 		position: absolute;
		// 		inset: 0;
		// 		background: rgba(0,0,0,0.5); /* adjust 0.5 to darker/lighter */
		// 		z-index: 5;                  /* above video, below menu/logo */
		// 		pointer-events: none;         /* doesn't block clicks */
		// 	}
		// 	img {
		// 		box-sizing: border-box;
		// 		height: 100%;
		// 		aspect-ratio: 1/1;
		// 		object-fit: cover;
		// 		object-position: center;
		// 		opacity: 2;
		// 		transition: all 2.5s ease;
		// 		&.in-view {
		// 			border-radius: 0px;
		// 			opacity: 2;
		// 		}
		// 	}
		// }
		position: relative;
		min-height: 100vh; // use min-height so content can grow
		overflow: hidden;
		#motto {
			font-family: 'Bodoni';
			display: flex;
			flex-direction: column;
			width: fit-content;
			padding: 40px;
			position: absolute;
			z-index: 999;
			top: 25%;
			color: #ffffff;
			span {
				font-size: 60px;
			}
			h2 {
				padding: 10px 30px;
				font-size: 40px;
				width: fit-content;
				margin: 0px !important;
				left: 0px !important;
			}
		}

		#landingPicBox {
			position: relative;
			z-index: 0; // base layer
			width: 50vw;
			height: 100vh;

			#heroLandingVideo {
				position: absolute;
				height: 85vh;
				aspect-ratio: 1 / 1.2;
				-o-object-fit: contain;
				object-fit: cover;
				z-index: 1;
				top: 7.5vh;
				left: 70%;
				border-radius: 4px;
				filter:sepia(0.3);
			}
		}
		#heroLandingVideoBG {
			position: absolute;
			inset: 0;
			width: 100vw;
			height: 100vh;
			background-color: #00000080;
			z-index: 2;
		}
		img#logoLanding {
			height: 135px;
			position: absolute;
			top: 10%;
			right: 5%;
			z-index: 20;
		}
		img#signatureLanding {
			width: 65%;
			position: absolute;
			bottom: 2%;
			right: 10%;
			z-index: 20;
			transform: skewY(357deg) rotateY(35deg);
		}
	
	}
	.linkContainer {
		align-items: end;
		font: var( --navFont);
		justify-content: right !important;
		width: fit-content;
		&.homePageLinks {
			position: absolute;
			z-index: 10;
			right: 0px;
			top: 40%;
			a:not(.socialLinks) {
				background-color: #ffffff;
				color: #000;
				letter-spacing: 0.07em;
				margin-right: 0px;
				max-width: 400px;
				padding: 5px 10px;
				position: relative;
				text-align: end;
				text-decoration: none !important;
				text-transform: uppercase;
				width: fit-content;
				z-index: 0;
				&:not(:last-child) { margin-bottom: 8px; }
				&#bioLink {	width: 200px; }
				&#servicesLink { width: 135px; }
				&#chefTLink { width: 285px; }
				&#contactLink {	width: 175px; }
				&:hover, &:active{
					text-shadow: #000;
					color: #ffffff;
				}
				&::before{
					background-color: var(--secondaryColor);
					border-radius: 0px;
					bottom: 0% ;
					content: '';
					height: 100%;
					left: 0%;
					pointer-events: none;
					position: absolute;
					transition: width 0.2s ease, height 0.1s ease;
					width: 3px;
					z-index: -1;
				}
				&:hover::before { width: 100%; }
				&:active {
					text-shadow: 0px 0px 10px #ffffff;
					&::before {
						height: 100%;
						bottom: 0%; 
						border-radius: 0;
					}
				}
			}
			a.socialLinks {
				color: #C3C3C3;
				margin-top: 20px;
				margin-right: 20px;
				font-size: 22px;
				&:hover {
					color: var(--secondaryColor);
				}
			}
		}
	}

	.middlePic{
		background-color: #000000;
		.middleImgWrapper {
			background-color: #ffffff;
			border: 3px solid var(--secondaryColor);
			gap: 15px;
			width: 70%;
			img {
				aspect-ratio: 1/.9;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
	.bioLandingPicContainer {
		box-sizing: border-box;
		display: flex;
		height: 80vh;
		justify-content: center;
		min-height: 550px;
		max-height: 700px;
		padding: 30px 50px; 
		width: 100%;
		.bioLandingTextWrapper {
			display: flex;
			flex-direction: column;
			font-family: var(--body-App-fontFamily);
			font-size: 20px;
			font-weight: 400;
			justify-content: center;
			letter-spacing: 0.05px;
			line-height: 34px;
			text-align: left;
			&.homePageTextWrapper {
				border: 1px solid var(--secondaryColor);
				height: fit-content;
				padding: 30px;
				position: relative;
				width: 45%;
				.btnPrimary {
					bottom: -22px;
					position: absolute;
					right: 40px;
				}
			}
		}
	}
	.animatedPicWrapper {
		height: 100%;
		width: 550px;
		padding: 30px;
		.picSubWr {
			position: relative;
			height: 100%;
			&::after {
				content: '';
				height: 70%;
				width: 5px;
				background-color: var(--secondaryColor);
				position: absolute;
				right: -25px;
				top: 15%;
				margin: 0px 30px;
			}
			
			&::before {
				content: '';
				height: 70%;
				width: 5px;
				margin: 0px 30px;
				background-color: var(--secondaryColor);
				position: absolute;
				left: -25px;
				top: 15%;
			}
			img {
				aspect-ratio: 1/1.15;
				width: 37%;
				object-fit: cover;
				object-position: center;
				opacity: 0;
				position: absolute;
				scale: 0.5;
				transition: all 0.5s ease;
				&#pic1 {
					right: 30%;
					top: 0;
					transition-delay: 0s;
					z-index: 4;
				}
				&#pic2 {
					right: 47px;
					top: 35%;
					transition-delay: 0.2s;
					z-index: 3;
				}
				&#pic3 {
					left: 27%;
					bottom: 0%;
					transition-delay: 0.5s;
					z-index: 2;
				}
				&#pic4 {
					left: 0px;
					bottom: 35%;
					transition-delay: 0.8s;
					z-index: 1;
				}
				&.in-view {
					opacity: 1;
					scale: 1;
				}
			}
		}
	}

	#bioSection {
		background-color: #ffffff;
		.bioImgContainer {
			min-width: 35%;
			position: relative;
			img {
				aspect-ratio: 1/1.1;
				bottom: -20%;
				height: 120%;
				object-fit: cover;
				object-position: center;
				opacity: 0;
				position: absolute;
				scale: 0.5;
				transition: all 0.5s ease;
				&#bioChefImg {
					aspect-ratio: 1/1.3;
					border: 1px solid #ffffff;
					border-radius: 20px;
					transition-delay: 0s;
					z-index: 4;
				}
				&.in-view{
					opacity: 1;
					scale: 1;
				}
			}
		}
		#bioTextContainer {
			margin-right: -0px;
			width: 50%;
			z-index: 10;
			position: relative;
			#logoBtnWrapper {
				.btnPrimary {
					width: fit-content;
					margin-right: 15%;
				}
				img#logoMidPage {
					aspect-ratio: 1/2;
					height: 126px;
					left: -100px;
					width: 215px;
				}
			}
		}
	}
	#servicesSection {
		background-color: transparent;
		height: 75vh;
		#servicesSectionTextContainer { color: #ffffff; }
		.picSubWr::before { width: 0px; margin: 0px !important;}
	}
	#chefTableSec {
		background-color: #ffffff;
		height: 75vh;
		.picSubWr {
			&::after { width: 0px; margin: 0px;}
			#pic1 { left: 40% !important; }
			#pic2 { left: 65% !important; }
			#pic3 { left: 35% !important; }
			#pic4 { left: 40px !important; }
		}
	}
	footer { background-color: transparent; }
}

#bobbyFlay{
	position: fixed;
	top: 0%;
	height: 100%;
	min-width: 100%;
	z-index: 99999;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2f2f2fca;
	pointer-events: none;
	#bobbyFlayDiv{
		#closingPopup{
			pointer-events: all !important;
			position: absolute;
			right: 10px;
			top: 10px;
			&::before{
				font-size: 35px !important;
				color: #2b2b2b;
			}
			&:hover{
				scale: 1.1;
			}
		}
		cursor: pointer;
		border: 10px solid #ffffff;
		height: 95%;
		width: 65%;
		max-width: 680px;
		max-height: 910px;
		background-image: url('./../../images/niko_bobbyflay_pic.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		display: grid;
		position: relative;
		#highlightsBob{
			display: flex;
			width: 70%;
			align-items: center;
			position: absolute;
			bottom: 15px;
			justify-content: center;
			border-radius: 20px;
			background-color: #2F2F2F;
			color: #C3C3C3;
			padding: 10px;
			justify-self: center;
			// pointer-events: all !important;
			p{
				color: #C3C3C3 !important;
			}
			i::before{
				color: #bf1f2f;
				font-size: 25px;
				
			}
		}
		#clickToPics{
			background-color: #bf1f2f;
			border: none;
			color: #C3C3C3;
			font-weight: bold;
			padding: 5px;
			font-size: 22px;
			pointer-events: all !important;
			cursor: pointer;
			&:hover{
				filter: brightness(0.9);
				scale: 1.05;
			}
		}
		#logoCont{
			width: 100%;
			height: 50%;
			position: absolute;
			top: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			#nikoForPopup{
				background-image: url("./../../images/NikoPopUp2.png");
				height: 35%;
				width: 100%;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				// width: 200px;
				justify-self: center;
			}
			#bobbyFlayLogo{
				background-image: url("./../../images/bfimagetrace.svg");
				height: 60%;
				width: 100%;
				margin-top: 10px;
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				// width: 200px;
				justify-self: center;
			}
		}

	}
}

// Break Points 
@media only screen and (min-width: 1500px) {
	.bioLanding {
		.bioLandingPicContainer { right: 18% !important; }
		.bioLandingTextContainer {
			left: 18% !important;
			width: 40% !important;
		} 
	}
}
@media only screen and (min-width: 1368px) and (max-width: 1400px) {
	.chefQuote{
		width: 60%;
	}
	.achievementLanding{
		.btnPrimary{
			font-size: 16px !important;
			padding: 10px 20px !important;

		}
		.allAchvmText{
			width: 60% !important;
			#chef-corps-logo{
				max-width: 200px !important;
			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 25px !important;		
			}
			.achCards{
				&.in-view{
					&#card-1{
						right: 30%;
					}
					&#card-2{
						font-size: 25px !important;
					}
					&#card-3{
						font-size: 20px !important;
					}
					&#card-4{
						font-size: 17px !important;
					}
					&#card-5{
						font-size: 25px !important;
					}
				}
			}
		}
		.imgAchvm{
			width: 40% !important;
		}
	}
}
@media only screen and (max-width: 1367px) {
	.achievementLanding {
		.btnPrimary{
			position: absolute;
			bottom: 30px;
			left: 20px;
		}
		.imgAchvm img { height: 97% !important; }
	}
	.bioLanding {
		.bioLandingPicContainer { right: 10% !important; }
		.bioLandingTextContainer {
			left: 10% !important;
			width: 52% !important;
		} 
	}
}
@media only screen and (min-width: 771px) and (max-width: 1050px)  {
	#logoNavIndexPage{
		.activePage{
			margin-right: 20px !important;
		}
	}
	.linkContainer{
		width: 50%;
		a {
			font-size: 15px !important;
		}
	}
	#landingAd{
		border: 1px solid #000;
		background-color: #aba4a4;
		justify-self: end;
		#DuckImg, #KaperImg{
			background-color: #2f2f2f;
			height: 42px !important;
			width: 42px !important;
		}
		#eventTextBox{
			background-color: #aba4a4;
			padding: 5px 10px;
			font-size: 10px !important;

			.shadowGold{
				font-size: 12px !important;
			}
		}
	}


	.chefQuote{
		width: 92% !important;
		background-color: #ffffff69;
		p{
			font-size: 40px !important;
		}
		.fontSize40{
			font-size: 28px !important;
		}
		.fontSize58{
			font-size: 40px !important;
		}
	}
	.signature{
		width: 100% !important;
		background-color: #ffffff69;
		margin-top: 0px !important;
	}
	.achievementLanding{
		min-height: 780px;

	} 
	.allAchvmText {
		width: 100% !important;
		.btnPrimary{
			position: absolute;
			bottom: -30px !important;
		}
	}
	.card45Cont{
		width: 90vw;
		position: absolute;
		>div{
			justify-content: center !important;
		}
		#card-4{
			max-width: 350px !important;
		}
	}
	.imgAchvm {
		width: 0px !important;
	}
	.cardsLine{
		flex-wrap: nowrap;
		justify-content: flex-start !important;
		width: 100% !important;
		&.cards23Cont{
			width: 90vw !important;
		}
	}
}
@media only screen and (min-width: 771px) and (max-width: 1350px) {
	
	.chefQuote{
		width: 60%;
		p { font-size: 40px !important; }
		.fontSize40 { font-size: 28px !important; }
		.fontSize58 { font-size: 40px !important; }
	}
	.middlePic {
		>div {
			justify-content: center;
			width: 70% !important;
			img { width: 30% !important; }
		}
	}
	.achievementLanding{
		align-items: start;
		height: fit-content;
		width: 100%;
		.allAchvmText{
			height: fit-content;
			padding: 0px !important;
			width: 90%;
			.cardsLine {
				width: 100% !important;
				.btnWrap {
					height: fit-content !important;
					margin-top: 30px;
					.btnPrimary{
						position: relative !important;
						bottom: 0px !important;
					}
				}
			}
			#chef-corps-logo {
				max-width: 200px !important;
				right: 25px !important;
				top: 80px !important;
			}
			p:not(.titlesChef) {
				margin-top: 0px !important;		
				margin-bottom: 25px !important;		
			}
			.achCards{
				width: 100% !important;
				height: fit-content;
				text-align: center;
			}
		}
		.imgAchvm{
			display: flex;
			height: 50%;
			justify-content: center;
			margin-left: 0px !important;
			width: 60%;
			img {
				display: flex;
				max-height: 50% !important;
				width: 80%;
			}
		}
		.btnPrimary{
			bottom: -40px;
			left: 20px;
			position: absolute;
		}
	}

	.charityLanding {
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.charityLandingPicContainer {
			width: 80%;
			display: flex;
			justify-content: space-around;
			img {
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 23%;
				height: 75%;
			}
		}
		.charityLandingTextContainer{
			width: 80%;
			margin-bottom: 30px;
			.textCharityLanding{
				padding-right: 0px !important;
			}
		} 
	}
}
@media only screen and (max-width: 870px){
	#landingAd{
		#DuckImg, #KaperImg{
			display: none;
		}
	}
}
@media only screen and (max-width: 770px){
	.landingPage{
		padding: 0px 0px !important;
		background-position-x: 87.5%;
		.signature {
			width: 100% !important;
			img {
				width: 70%;
			}
			background-color: #ffffff69 !important;
			margin-top: 0px !important;
		}
		.chefQuote {
			width: 100% !important;
			padding: 20px 0px !important;
			background-color: #ffffff69 !important;
		}
		i { font-size: 20px !important; }
		.dwnLine {
			margin: 0px !important;
		}
		p {
			font-size: 25px !important;
			span{ font-size: 28px !important}
		}
	}

	.middlePic{
		>div{
			width: 90% !important;
			justify-content: center;
			img{
				width: 32% !important;
				aspect-ratio: 1.1 / 1;
				&.mr-20{
					margin-right: 10px !important;
				}
			}
		}
	}
	.bioLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.bioLandingPicContainer{
			width: 95%;
			display: flex;
			justify-content: space-around;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
			}
	
		}
		.bioLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			.textBioLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.charityLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.charityLandingPicContainer{
			width: 95%;
			display: flex;
			justify-content: space-around;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
			}
	
		}
		.charityLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			padding-left: 0px !important;
			.textCharityLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.achievementLanding{
		align-items: start;
		height: fit-content;
		width: 100%;

		.allAchvmText{
			width: 90%;
			padding: 0px !important;
			height: fit-content;
			.cardsLine{
				flex-wrap: wrap;
				flex-direction: column-reverse !important;
				width: 100% !important;
				.btnWrap{
					height: fit-content !important;
					margin-top: 30px;
					.btnPrimary{
						position: relative !important;
					}
				}
			}
			.card45Cont {
				.btnWrap {
					width: 100% !important;
					padding-left: 10px !important;
					margin-right: 0px !important;
					.btnPrimary {
						// width: 80% !important;
						margin: 0px !important;
						box-sizing: border-box !important;
						left: 0px !important;
					}
				}
			}
			#chef-corps-logo{
				max-width: 120px !important;
				right: 15px !important;
				top: -15px !important;
			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 10px !important;		
			}
			.card-1Div{
				width: 100% !important;
				margin-left: 0%;
				margin-top: 20px !important;
				justify-content: center !important;

				#card-1{
					margin-top: 15px !important;
					font-size: 17px !important;
					text-align: center !important;
					justify-self: center !important;
				}
			}
			#card-2{
				font-size: 24px !important;
			}
			#card-3{
				font-size: 20px !important;
			}
			#card-4{
				font-size: 18px !important;
			}
			#card-5{
				font-size: 20px !important;
				margin-right: 0px !important;
				margin-left: 0px !important;
			}
			.achCards{
				max-width: 80% !important;
				width: 80% !important;
				text-align: center;
				transform: translatex(-130%);
				scale: 1 !important;
				&.in-view{
					margin-left: 0% !important;
				}
			}
			.btnPrimary{
				position: relative;
				bottom: 0px;
				margin-bottom: 20px;
				margin-left: -20px;
			}
		}
		.imgAchvm{
			display: none;
		}
	}
	.titlesChef{
		font-size: 20px !important;
	}
	footer{
		padding-bottom: 80px !important;
		#webcraftLink{
			a {
				font-size: 12px !important;
				text-align: start;
			}
		}
		img{
			align-self: baseline;
			height: 11vh;
		}
	}

}
@media only screen and (max-width: 450px){
	#bobbyFlay{
		height: 100% !important;
		width: 100% !important;
		#bobbyFlayDiv{
			background-size: cover;
			width: 90%;
			height: 95%;
			min-width: 250px !important;
			min-height: 250px !important;
			#logoCont{
				height: 47%;
			}
			#highlightsBob{
				width: 80%; 
				p{
					font-size: 16px !important;
				}
				#clickToPics{
					font-size: 18px;
				}
			}
		}
	}

}
@media only screen and (max-width: 400px){
	#landingAd{
		#DuckImg, #KaperImg{
			display: none !important;
			max-height: 0px !important;
			max-width: 0px !important;
		}
		#eventTextBox{
			background-color: #aba4a4;
			padding: 5px 10px;
			font-size: 12px !important;
			position: relative;
			box-shadow: 6px 6px 6px #0000003d;
			#shadowGold{
				font-weight: bold !important;
			}
			#eventLink{
				font-size: 13px;
				width: fit-content !important;
				margin: 0px;
			}
			.linkWrap{
				width: fit-content !important;
			}
		}
	}

}
@media only screen and (max-height: 400px){
	.landingPage{
		padding: 0px 0px !important;
		background-position-x: 87.5%;
		.signature{
			width: 100% !important;
			img{
				width: 70%;
			}
			background-color: #ffffff69 !important;
			margin-top: 0px !important;
		}
		.chefQuote{
			width: 100% !important;
			padding: 20px 0px !important;
			background-color: #ffffff69 !important;
		}
		i{ font-size: 20px !important; }
		.dwnLine {
			margin: 0px !important;
		}
		p{
			font-size: 25px !important;
			span{ font-size: 28px !important}
		}
	}

	.middlePic{
		>div{
			width: 90% !important;
			justify-content: center;
			img{
				width: 32% !important;
				aspect-ratio: 1.1 / 1;
				&.mr-20{
					margin-right: 10px !important;
				}
			}
		}
	}
	.bioLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.bioLandingPicContainer{
			width: 95%;
			display: flex;
			justify-content: space-around;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
			}
	
		}
		.bioLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			.textBioLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.charityLanding{
		flex-direction: column-reverse;
		height: fit-content !important;
		width: 100%;
		.charityLandingPicContainer{
			width: 95%;
			display: flex;
			justify-content: space-around;
			img{
				position: relative !important;
				top: 0px !important;
				left: 0px !important;
				transform: translateX(0px);
				width: 24%;
			}
	
		}
		.charityLandingTextContainer{
			width: 90%;
			margin-bottom: 30px;
			padding-left: 0px !important;
			.textCharityLanding{
				padding-right: 0px !important;
			}
		} 
	}
	.achievementLanding{
		align-items: start;
		height: fit-content;
		width: 100%;

		.allAchvmText{
			width: 90%;
			padding: 0px !important;
			height: fit-content;
			.cardsLine{
				flex-wrap: wrap;
				flex-direction: column-reverse !important;
				width: 100% !important;
				.btnWrap{
					height: fit-content !important;
					margin-top: 30px;
					.btnPrimary{
						position: relative !important;
					}
				}
			}
			#chef-corps-logo{
				max-width: 120px !important;
				right: 15px !important;
				top: -15px !important;
			}
			p:not(.titlesChef){
				margin-top: 0px !important;		
				margin-bottom: 10px !important;		
			}
			.card-1Div{
				width: 100% !important;
				margin-left: 0%;
				margin-top: 20px !important;
				justify-content: center !important;
				#card-1{
					margin-top: 15px !important;
					font-size: 17px !important;
					text-align: left !important;
				}
			}
			#card-2{
				font-size: 24px !important;
			}
			#card-3{
				font-size: 20px !important;
			}
			#card-4{
				font-size: 18px !important;
			}
			#card-5{
				font-size: 20px !important;
			}
			.achCards{
				max-width: 80% !important;
				width: 80% !important;
				text-align: center;
				&.in-view{
					margin-left: 0% !important;
				}
			}
			.btnPrimary{
				position: relative;
				bottom: 0px;
				margin-bottom: 20px;
			}
		}
		.imgAchvm{
			display: none;
		}
	}
	.titlesChef{
		font-size: 20px !important;
	}
	footer{
		padding-bottom: 80px !important;
		#webcraftLink{
			a {
				font-size: 12px !important;
				text-align: start;
			}
		}
		img{
			align-self: baseline;
			height: 11vh;
		}
	}
	#bobbyFlay{
		height: 100% !important;
		width: 100% !important;
		#bobbyFlayDiv{
			background-size: cover;
			background-position-y:  -100px;
			width: 90%;
			height: 95%;
			min-width: 250px !important;
			min-height: 250px !important;
			#logoCont{
				height: 47%;
			}
			#highlightsBob{
				width: 70%; 
				bottom: 85%;
				p{
					font-size: 14px !important;
				}
				#clickToPics{
					font-size: 16px;
				}
			}
		}
	}

}
footer {
	position: relative;
	justify-content: center;
	padding-bottom: 50px !important;
	box-sizing: border-box;
	#webcraftLink{
		position: absolute;
		bottom: 10px;
		display: flex;
		justify-content: center;
		font-size: 14px !important;
		box-sizing: border-box;
		a {
			text-align: center;
		}
	}
}

$--color-1: rgba(0, 0, 0, 0.7);
$--color-2: rgba(0, 0, 0, 0.8);
$--color-3: rgba(0, 0, 0, 0.9);
$--color-4: rgba(0, 0, 0, 1);
$--color-5: #C4B980;

.wrapper {
	line-height: 1.2;
	display: grid;
	place-items: center;
  
  	p {
		font-family: var(--body-App-fontFamily);
		margin: auto;
		text-transform: uppercase;
		background: 
			linear-gradient(219deg, 
				$--color-1 10%, 
				$--color-1 11%, $--color-2  30%,
				$--color-2 31%,$--color-4 60% ,	
				$--color-4 60%, $--color-1 80%,
			)
		;
		background-clip: text;
		-webkit-background-clip: text;
		color: transparent;
	}
	.container {
		padding: 1.5rem;   
		text-align: center;
	}
}