:root {
  --primary-font-color: #000000;
  --page-primary-backgroung: #d5daf6;
  --white-text: #ffffff;
  /*==== GENERAL ====*/
  --padding-xs: 5px;
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 30px;
  --padding-xl: 40px;
  --h-100: 100;
  /*==== NAVIGATION BAR ====*/
  --navbar-height: 75px;
  --navbar-background: #1d364c;
  --navbar-color: #ffffff;
  --navbar-fontsize: 22px;
  --navbar-fontsize-smMenu: 25px;
  --navbar-fontFamily: "Merriweather";
  --navbar-fontWeight: 600;
  --navbar-before-color: #CDAA7F;
  /*==== BODY ====*/
  --body-App-fontFamily: "Inter";
  /*==== FOOTER ====*/
  --footer-height: 60px;
  --navBackGroundColor: #ffffff00;
  --navBarTextColor: #000;
  --navBtnBackGround: #C4B980;
  --navBtnBackGroundDK: #000;
  --navFont: normal normal 500 20px var(--navbar-fontFamily);
  --primaryColor: #897400;
  --primaryColorLight: #00000090;
  --secondaryColor: #b19e47;
  --secondaryColorTran: #b9970034;
  --darkBlueColor: #1e293b;
  --backgroundV1: linear-gradient(180deg, var(--darkBlueColor), #000000);
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

body {
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

p {
  color: #000000;
}

.titlesChef {
  font-family: "Prata";
  font-size: 40px;
  font-weight: 500;
  margin-left: 15px;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
  letter-spacing: 0.03em;
}
.titlesChef::before {
  content: "";
  background-color: var(--secondaryColor);
  bottom: 5px;
  height: calc(100% - 10px);
  left: -25px;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  z-index: -1;
}

#homePage {
  background: url("../../images/servicesBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#homePage #landingMenu {
  z-index: 5;
}
#homePage .navBar.biggerScreen {
  padding-bottom: 0vh;
  padding-top: 0vh;
}
#homePage #landingSection {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
#homePage #landingSection #motto {
  font-family: "Bodoni";
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  padding: 40px;
  position: absolute;
  z-index: 999;
  top: 25%;
  color: #ffffff;
}
#homePage #landingSection #motto span {
  font-size: 60px;
}
#homePage #landingSection #motto h1 {
  padding: 10px 30px;
  font-size: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
#homePage #landingSection #motto h1 span {
  scale: 2;
}
#homePage #landingSection #motto h2 {
  padding: 10px 30px;
  font-size: 40px;
  width: -moz-fit-content;
  width: fit-content;
}
#homePage #landingSection #motto h2 span {
  scale: 2;
}
#homePage #landingSection #motto h3 {
  padding: 10px 30px;
  font-size: 40px;
  padding-left: 30px;
  width: -moz-fit-content;
  width: fit-content;
}
#homePage #landingSection #motto h3 span {
  scale: 2;
}
#homePage #landingSection #landingPicBox {
  position: relative;
  z-index: 0;
  width: 50vw;
  height: 100vh;
}
#homePage #landingSection #landingPicBox #heroLandingVideo {
  position: absolute;
  height: 85vh;
  aspect-ratio: 1/1.2;
  -o-object-fit: contain;
  object-fit: cover;
  z-index: 1;
  top: 7.5vh;
  left: 70%;
  border-radius: 4px;
  filter: sepia(0.3);
}
#homePage #landingSection #heroLandingVideoBG {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 2;
}
#homePage #landingSection img#logoLanding {
  height: 135px;
  position: absolute;
  top: 10%;
  right: 5%;
  z-index: 20;
}
#homePage #landingSection img#signatureLanding {
  width: 65%;
  position: absolute;
  bottom: 2%;
  right: 10%;
  z-index: 20;
  transform: skewY(357deg) rotateY(35deg);
}
#homePage .linkContainer {
  align-items: end;
  font: var(--navFont);
  justify-content: right !important;
  width: -moz-fit-content;
  width: fit-content;
}
#homePage .linkContainer.homePageLinks {
  position: absolute;
  z-index: 10;
  right: 0px;
  top: 40%;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks) {
  background-color: #ffffff;
  color: #000;
  letter-spacing: 0.07em;
  margin-right: 0px;
  max-width: 400px;
  padding: 5px 10px;
  position: relative;
  text-align: end;
  text-decoration: none !important;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 0;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):not(:last-child) {
  margin-bottom: 8px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#bioLink {
  width: 200px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#servicesLink {
  width: 135px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#chefTLink {
  width: 285px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)#contactLink {
  width: 175px;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):hover, #homePage .linkContainer.homePageLinks a:not(.socialLinks):active {
  text-shadow: #000;
  color: #ffffff;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks)::before {
  background-color: var(--secondaryColor);
  border-radius: 0px;
  bottom: 0%;
  content: "";
  height: 100%;
  left: 0%;
  pointer-events: none;
  position: absolute;
  transition: width 0.2s ease, height 0.1s ease;
  width: 3px;
  z-index: -1;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):hover::before {
  width: 100%;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):active {
  text-shadow: 0px 0px 10px #ffffff;
}
#homePage .linkContainer.homePageLinks a:not(.socialLinks):active::before {
  height: 100%;
  bottom: 0%;
  border-radius: 0;
}
#homePage .linkContainer.homePageLinks a.socialLinks {
  color: #C3C3C3;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 22px;
}
#homePage .linkContainer.homePageLinks a.socialLinks:hover {
  color: var(--secondaryColor);
}
#homePage .middlePic {
  background-color: #000000;
}
#homePage .middlePic .middleImgWrapper {
  background-color: #ffffff;
  border: 3px solid var(--secondaryColor);
  gap: 15px;
  width: 70%;
}
#homePage .middlePic .middleImgWrapper img {
  aspect-ratio: 1/0.9;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
#homePage .bioLandingPicContainer {
  box-sizing: border-box;
  display: flex;
  height: 80vh;
  justify-content: center;
  min-height: 550px;
  max-height: 700px;
  padding: 30px 50px;
  width: 100%;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--body-App-fontFamily);
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 0.05px;
  line-height: 34px;
  text-align: left;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper {
  border: 1px solid var(--secondaryColor);
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  position: relative;
  width: 45%;
}
#homePage .bioLandingPicContainer .bioLandingTextWrapper.homePageTextWrapper .btnPrimary {
  bottom: -22px;
  position: absolute;
  right: 40px;
}
#homePage .animatedPicWrapper {
  height: 100%;
  width: 550px;
  padding: 30px;
}
#homePage .animatedPicWrapper .picSubWr {
  position: relative;
  height: 100%;
}
#homePage .animatedPicWrapper .picSubWr::after {
  content: "";
  height: 70%;
  width: 5px;
  background-color: var(--secondaryColor);
  position: absolute;
  right: -25px;
  top: 15%;
  margin: 0px 30px;
}
#homePage .animatedPicWrapper .picSubWr::before {
  content: "";
  height: 70%;
  width: 5px;
  margin: 0px 30px;
  background-color: var(--secondaryColor);
  position: absolute;
  left: -25px;
  top: 15%;
}
#homePage .animatedPicWrapper .picSubWr img {
  aspect-ratio: 1/1.15;
  width: 37%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  position: absolute;
  scale: 0.5;
  transition: all 0.5s ease;
}
#homePage .animatedPicWrapper .picSubWr img#pic1 {
  right: 30%;
  top: 0;
  transition-delay: 0s;
  z-index: 4;
}
#homePage .animatedPicWrapper .picSubWr img#pic2 {
  right: 47px;
  top: 35%;
  transition-delay: 0.2s;
  z-index: 3;
}
#homePage .animatedPicWrapper .picSubWr img#pic3 {
  left: 27%;
  bottom: 0%;
  transition-delay: 0.5s;
  z-index: 2;
}
#homePage .animatedPicWrapper .picSubWr img#pic4 {
  left: 0px;
  bottom: 35%;
  transition-delay: 0.8s;
  z-index: 1;
}
#homePage .animatedPicWrapper .picSubWr img.in-view {
  opacity: 1;
  scale: 1;
}
#homePage #bioSection {
  background-color: #ffffff;
}
#homePage #bioSection .bioImgContainer {
  min-width: 35%;
  position: relative;
}
#homePage #bioSection .bioImgContainer img {
  aspect-ratio: 1/1.1;
  bottom: -20%;
  height: 120%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0;
  position: absolute;
  scale: 0.5;
  transition: all 0.5s ease;
}
#homePage #bioSection .bioImgContainer img#bioChefImg {
  aspect-ratio: 1/1.3;
  border: 1px solid #ffffff;
  border-radius: 20px;
  transition-delay: 0s;
  z-index: 4;
}
#homePage #bioSection .bioImgContainer img.in-view {
  opacity: 1;
  scale: 1;
}
#homePage #bioSection #bioTextContainer {
  margin-right: 0px;
  width: 50%;
  z-index: 10;
  position: relative;
}
#homePage #bioSection #bioTextContainer #logoBtnWrapper .btnPrimary {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 15%;
}
#homePage #bioSection #bioTextContainer #logoBtnWrapper img#logoMidPage {
  aspect-ratio: 1/2;
  height: 126px;
  left: -100px;
  width: 215px;
}
#homePage #servicesSection {
  background-color: transparent;
  height: 75vh;
}
#homePage #servicesSection #servicesSectionTextContainer {
  color: #ffffff;
}
#homePage #servicesSection .picSubWr::before {
  width: 0px;
  margin: 0px !important;
}
#homePage #chefTableSec {
  background-color: #ffffff;
  height: 75vh;
}
#homePage #chefTableSec .picSubWr::after {
  width: 0px;
  margin: 0px;
}
#homePage #chefTableSec .picSubWr #pic1 {
  left: 40% !important;
}
#homePage #chefTableSec .picSubWr #pic2 {
  left: 65% !important;
}
#homePage #chefTableSec .picSubWr #pic3 {
  left: 35% !important;
}
#homePage #chefTableSec .picSubWr #pic4 {
  left: 40px !important;
}
#homePage footer {
  background-color: transparent;
}

#bobbyFlay {
  position: fixed;
  top: 0%;
  height: 100%;
  min-width: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 47, 0.7921568627);
  pointer-events: none;
}
#bobbyFlay #bobbyFlayDiv {
  cursor: pointer;
  border: 10px solid #ffffff;
  height: 95%;
  width: 65%;
  max-width: 680px;
  max-height: 910px;
  background-image: url("./../../images/niko_bobbyflay_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  position: relative;
}
#bobbyFlay #bobbyFlayDiv #closingPopup {
  pointer-events: all !important;
  position: absolute;
  right: 10px;
  top: 10px;
}
#bobbyFlay #bobbyFlayDiv #closingPopup::before {
  font-size: 35px !important;
  color: #2b2b2b;
}
#bobbyFlay #bobbyFlayDiv #closingPopup:hover {
  scale: 1.1;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob {
  display: flex;
  width: 70%;
  align-items: center;
  position: absolute;
  bottom: 15px;
  justify-content: center;
  border-radius: 20px;
  background-color: #2F2F2F;
  color: #C3C3C3;
  padding: 10px;
  justify-self: center;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob p {
  color: #C3C3C3 !important;
}
#bobbyFlay #bobbyFlayDiv #highlightsBob i::before {
  color: #bf1f2f;
  font-size: 25px;
}
#bobbyFlay #bobbyFlayDiv #clickToPics {
  background-color: #bf1f2f;
  border: none;
  color: #C3C3C3;
  font-weight: bold;
  padding: 5px;
  font-size: 22px;
  pointer-events: all !important;
  cursor: pointer;
}
#bobbyFlay #bobbyFlayDiv #clickToPics:hover {
  filter: brightness(0.9);
  scale: 1.05;
}
#bobbyFlay #bobbyFlayDiv #logoCont {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#bobbyFlay #bobbyFlayDiv #logoCont #nikoForPopup {
  background-image: url("./../../images/NikoPopUp2.png");
  height: 35%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}
#bobbyFlay #bobbyFlayDiv #logoCont #bobbyFlayLogo {
  background-image: url("./../../images/bfimagetrace.svg");
  height: 60%;
  width: 100%;
  margin-top: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  justify-self: center;
}

@media only screen and (min-width: 1500px) {
  .bioLanding .bioLandingPicContainer {
    right: 18% !important;
  }
  .bioLanding .bioLandingTextContainer {
    left: 18% !important;
    width: 40% !important;
  }
}
@media only screen and (min-width: 1368px) and (max-width: 1400px) {
  .chefQuote {
    width: 60%;
  }
  .achievementLanding .btnPrimary {
    font-size: 16px !important;
    padding: 10px 20px !important;
  }
  .achievementLanding .allAchvmText {
    width: 60% !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 200px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-1 {
    right: 30%;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-2 {
    font-size: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-3 {
    font-size: 20px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-4 {
    font-size: 17px !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view#card-5 {
    font-size: 25px !important;
  }
  .achievementLanding .imgAchvm {
    width: 40% !important;
  }
}
@media only screen and (max-width: 1367px) {
  .achievementLanding .btnPrimary {
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
  .achievementLanding .imgAchvm img {
    height: 97% !important;
  }
  .bioLanding .bioLandingPicContainer {
    right: 10% !important;
  }
  .bioLanding .bioLandingTextContainer {
    left: 10% !important;
    width: 52% !important;
  }
}
@media only screen and (min-width: 771px) and (max-width: 1050px) {
  #logoNavIndexPage .activePage {
    margin-right: 20px !important;
  }
  .linkContainer {
    width: 50%;
  }
  .linkContainer a {
    font-size: 15px !important;
  }
  #landingAd {
    border: 1px solid #000;
    background-color: #aba4a4;
    justify-self: end;
  }
  #landingAd #DuckImg, #landingAd #KaperImg {
    background-color: #2f2f2f;
    height: 42px !important;
    width: 42px !important;
  }
  #landingAd #eventTextBox {
    background-color: #aba4a4;
    padding: 5px 10px;
    font-size: 10px !important;
  }
  #landingAd #eventTextBox .shadowGold {
    font-size: 12px !important;
  }
  .chefQuote {
    width: 92% !important;
    background-color: rgba(255, 255, 255, 0.4117647059);
  }
  .chefQuote p {
    font-size: 40px !important;
  }
  .chefQuote .fontSize40 {
    font-size: 28px !important;
  }
  .chefQuote .fontSize58 {
    font-size: 40px !important;
  }
  .signature {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.4117647059);
    margin-top: 0px !important;
  }
  .achievementLanding {
    min-height: 780px;
  }
  .allAchvmText {
    width: 100% !important;
  }
  .allAchvmText .btnPrimary {
    position: absolute;
    bottom: -30px !important;
  }
  .card45Cont {
    width: 90vw;
    position: absolute;
  }
  .card45Cont > div {
    justify-content: center !important;
  }
  .card45Cont #card-4 {
    max-width: 350px !important;
  }
  .imgAchvm {
    width: 0px !important;
  }
  .cardsLine {
    flex-wrap: nowrap;
    justify-content: flex-start !important;
    width: 100% !important;
  }
  .cardsLine.cards23Cont {
    width: 90vw !important;
  }
}
@media only screen and (min-width: 771px) and (max-width: 1350px) {
  .chefQuote {
    width: 60%;
  }
  .chefQuote p {
    font-size: 40px !important;
  }
  .chefQuote .fontSize40 {
    font-size: 28px !important;
  }
  .chefQuote .fontSize58 {
    font-size: 40px !important;
  }
  .middlePic > div {
    justify-content: center;
    width: 70% !important;
  }
  .middlePic > div img {
    width: 30% !important;
  }
  .achievementLanding {
    align-items: start;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .achievementLanding .allAchvmText {
    height: -moz-fit-content;
    height: fit-content;
    padding: 0px !important;
    width: 90%;
  }
  .achievementLanding .allAchvmText .cardsLine {
    width: 100% !important;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap {
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: 30px;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap .btnPrimary {
    position: relative !important;
    bottom: 0px !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 200px !important;
    right: 25px !important;
    top: 80px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
  }
  .achievementLanding .allAchvmText .achCards {
    width: 100% !important;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
  }
  .achievementLanding .imgAchvm {
    display: flex;
    height: 50%;
    justify-content: center;
    margin-left: 0px !important;
    width: 60%;
  }
  .achievementLanding .imgAchvm img {
    display: flex;
    max-height: 50% !important;
    width: 80%;
  }
  .achievementLanding .btnPrimary {
    bottom: -40px;
    left: 20px;
    position: absolute;
  }
  .charityLanding {
    flex-direction: column-reverse;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .charityLanding .charityLandingPicContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
  .charityLanding .charityLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(0px);
    width: 23%;
    height: 75%;
  }
  .charityLanding .charityLandingTextContainer {
    width: 80%;
    margin-bottom: 30px;
  }
  .charityLanding .charityLandingTextContainer .textCharityLanding {
    padding-right: 0px !important;
  }
}
@media only screen and (max-width: 870px) {
  #landingAd #DuckImg, #landingAd #KaperImg {
    display: none;
  }
}
@media only screen and (max-width: 770px) {
  .landingPage {
    padding: 0px 0px !important;
    background-position-x: 87.5%;
  }
  .landingPage .signature {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.4117647059) !important;
    margin-top: 0px !important;
  }
  .landingPage .signature img {
    width: 70%;
  }
  .landingPage .chefQuote {
    width: 100% !important;
    padding: 20px 0px !important;
    background-color: rgba(255, 255, 255, 0.4117647059) !important;
  }
  .landingPage i {
    font-size: 20px !important;
  }
  .landingPage .dwnLine {
    margin: 0px !important;
  }
  .landingPage p {
    font-size: 25px !important;
  }
  .landingPage p span {
    font-size: 28px !important;
  }
  .middlePic > div {
    width: 90% !important;
    justify-content: center;
  }
  .middlePic > div img {
    width: 32% !important;
    aspect-ratio: 1.1/1;
  }
  .middlePic > div img.mr-20 {
    margin-right: 10px !important;
  }
  .bioLanding {
    flex-direction: column-reverse;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .bioLanding .bioLandingPicContainer {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  .bioLanding .bioLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(0px);
    width: 24%;
  }
  .bioLanding .bioLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
  }
  .bioLanding .bioLandingTextContainer .textBioLanding {
    padding-right: 0px !important;
  }
  .charityLanding {
    flex-direction: column-reverse;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .charityLanding .charityLandingPicContainer {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  .charityLanding .charityLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(0px);
    width: 24%;
  }
  .charityLanding .charityLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
    padding-left: 0px !important;
  }
  .charityLanding .charityLandingTextContainer .textCharityLanding {
    padding-right: 0px !important;
  }
  .achievementLanding {
    align-items: start;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .achievementLanding .allAchvmText {
    width: 90%;
    padding: 0px !important;
    height: -moz-fit-content;
    height: fit-content;
  }
  .achievementLanding .allAchvmText .cardsLine {
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
    width: 100% !important;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap {
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: 30px;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap .btnPrimary {
    position: relative !important;
  }
  .achievementLanding .allAchvmText .card45Cont .btnWrap {
    width: 100% !important;
    padding-left: 10px !important;
    margin-right: 0px !important;
  }
  .achievementLanding .allAchvmText .card45Cont .btnWrap .btnPrimary {
    margin: 0px !important;
    box-sizing: border-box !important;
    left: 0px !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 120px !important;
    right: 15px !important;
    top: -15px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .achievementLanding .allAchvmText .card-1Div {
    width: 100% !important;
    margin-left: 0%;
    margin-top: 20px !important;
    justify-content: center !important;
  }
  .achievementLanding .allAchvmText .card-1Div #card-1 {
    margin-top: 15px !important;
    font-size: 17px !important;
    text-align: center !important;
    justify-self: center !important;
  }
  .achievementLanding .allAchvmText #card-2 {
    font-size: 24px !important;
  }
  .achievementLanding .allAchvmText #card-3 {
    font-size: 20px !important;
  }
  .achievementLanding .allAchvmText #card-4 {
    font-size: 18px !important;
  }
  .achievementLanding .allAchvmText #card-5 {
    font-size: 20px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .achievementLanding .allAchvmText .achCards {
    max-width: 80% !important;
    width: 80% !important;
    text-align: center;
    transform: translatex(-130%);
    scale: 1 !important;
  }
  .achievementLanding .allAchvmText .achCards.in-view {
    margin-left: 0% !important;
  }
  .achievementLanding .allAchvmText .btnPrimary {
    position: relative;
    bottom: 0px;
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .achievementLanding .imgAchvm {
    display: none;
  }
  .titlesChef {
    font-size: 20px !important;
  }
  footer {
    padding-bottom: 80px !important;
  }
  footer #webcraftLink a {
    font-size: 12px !important;
    text-align: start;
  }
  footer img {
    align-self: baseline;
    height: 11vh;
  }
}
@media only screen and (max-width: 450px) {
  #bobbyFlay {
    height: 100% !important;
    width: 100% !important;
  }
  #bobbyFlay #bobbyFlayDiv {
    background-size: cover;
    width: 90%;
    height: 95%;
    min-width: 250px !important;
    min-height: 250px !important;
  }
  #bobbyFlay #bobbyFlayDiv #logoCont {
    height: 47%;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob {
    width: 80%;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob p {
    font-size: 16px !important;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob #clickToPics {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  #landingAd #DuckImg, #landingAd #KaperImg {
    display: none !important;
    max-height: 0px !important;
    max-width: 0px !important;
  }
  #landingAd #eventTextBox {
    background-color: #aba4a4;
    padding: 5px 10px;
    font-size: 12px !important;
    position: relative;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.2392156863);
  }
  #landingAd #eventTextBox #shadowGold {
    font-weight: bold !important;
  }
  #landingAd #eventTextBox #eventLink {
    font-size: 13px;
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: 0px;
  }
  #landingAd #eventTextBox .linkWrap {
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
}
@media only screen and (max-height: 400px) {
  .landingPage {
    padding: 0px 0px !important;
    background-position-x: 87.5%;
  }
  .landingPage .signature {
    width: 100% !important;
    background-color: rgba(255, 255, 255, 0.4117647059) !important;
    margin-top: 0px !important;
  }
  .landingPage .signature img {
    width: 70%;
  }
  .landingPage .chefQuote {
    width: 100% !important;
    padding: 20px 0px !important;
    background-color: rgba(255, 255, 255, 0.4117647059) !important;
  }
  .landingPage i {
    font-size: 20px !important;
  }
  .landingPage .dwnLine {
    margin: 0px !important;
  }
  .landingPage p {
    font-size: 25px !important;
  }
  .landingPage p span {
    font-size: 28px !important;
  }
  .middlePic > div {
    width: 90% !important;
    justify-content: center;
  }
  .middlePic > div img {
    width: 32% !important;
    aspect-ratio: 1.1/1;
  }
  .middlePic > div img.mr-20 {
    margin-right: 10px !important;
  }
  .bioLanding {
    flex-direction: column-reverse;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .bioLanding .bioLandingPicContainer {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  .bioLanding .bioLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(0px);
    width: 24%;
  }
  .bioLanding .bioLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
  }
  .bioLanding .bioLandingTextContainer .textBioLanding {
    padding-right: 0px !important;
  }
  .charityLanding {
    flex-direction: column-reverse;
    height: -moz-fit-content !important;
    height: fit-content !important;
    width: 100%;
  }
  .charityLanding .charityLandingPicContainer {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  .charityLanding .charityLandingPicContainer img {
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    transform: translateX(0px);
    width: 24%;
  }
  .charityLanding .charityLandingTextContainer {
    width: 90%;
    margin-bottom: 30px;
    padding-left: 0px !important;
  }
  .charityLanding .charityLandingTextContainer .textCharityLanding {
    padding-right: 0px !important;
  }
  .achievementLanding {
    align-items: start;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .achievementLanding .allAchvmText {
    width: 90%;
    padding: 0px !important;
    height: -moz-fit-content;
    height: fit-content;
  }
  .achievementLanding .allAchvmText .cardsLine {
    flex-wrap: wrap;
    flex-direction: column-reverse !important;
    width: 100% !important;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap {
    height: -moz-fit-content !important;
    height: fit-content !important;
    margin-top: 30px;
  }
  .achievementLanding .allAchvmText .cardsLine .btnWrap .btnPrimary {
    position: relative !important;
  }
  .achievementLanding .allAchvmText #chef-corps-logo {
    max-width: 120px !important;
    right: 15px !important;
    top: -15px !important;
  }
  .achievementLanding .allAchvmText p:not(.titlesChef) {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  }
  .achievementLanding .allAchvmText .card-1Div {
    width: 100% !important;
    margin-left: 0%;
    margin-top: 20px !important;
    justify-content: center !important;
  }
  .achievementLanding .allAchvmText .card-1Div #card-1 {
    margin-top: 15px !important;
    font-size: 17px !important;
    text-align: left !important;
  }
  .achievementLanding .allAchvmText #card-2 {
    font-size: 24px !important;
  }
  .achievementLanding .allAchvmText #card-3 {
    font-size: 20px !important;
  }
  .achievementLanding .allAchvmText #card-4 {
    font-size: 18px !important;
  }
  .achievementLanding .allAchvmText #card-5 {
    font-size: 20px !important;
  }
  .achievementLanding .allAchvmText .achCards {
    max-width: 80% !important;
    width: 80% !important;
    text-align: center;
  }
  .achievementLanding .allAchvmText .achCards.in-view {
    margin-left: 0% !important;
  }
  .achievementLanding .allAchvmText .btnPrimary {
    position: relative;
    bottom: 0px;
    margin-bottom: 20px;
  }
  .achievementLanding .imgAchvm {
    display: none;
  }
  .titlesChef {
    font-size: 20px !important;
  }
  footer {
    padding-bottom: 80px !important;
  }
  footer #webcraftLink a {
    font-size: 12px !important;
    text-align: start;
  }
  footer img {
    align-self: baseline;
    height: 11vh;
  }
  #bobbyFlay {
    height: 100% !important;
    width: 100% !important;
  }
  #bobbyFlay #bobbyFlayDiv {
    background-size: cover;
    background-position-y: -100px;
    width: 90%;
    height: 95%;
    min-width: 250px !important;
    min-height: 250px !important;
  }
  #bobbyFlay #bobbyFlayDiv #logoCont {
    height: 47%;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob {
    width: 70%;
    bottom: 85%;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob p {
    font-size: 14px !important;
  }
  #bobbyFlay #bobbyFlayDiv #highlightsBob #clickToPics {
    font-size: 16px;
  }
}
footer {
  position: relative;
  justify-content: center;
  padding-bottom: 50px !important;
  box-sizing: border-box;
}
footer #webcraftLink {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px !important;
  box-sizing: border-box;
}
footer #webcraftLink a {
  text-align: center;
}

.wrapper {
  line-height: 1.2;
  display: grid;
  place-items: center;
}
.wrapper p {
  font-family: var(--body-App-fontFamily);
  margin: auto;
  text-transform: uppercase;
  background: linear-gradient(219deg, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.7) 11%, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.8) 31%, rgb(0, 0, 0) 60%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0.7) 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.wrapper .container {
  padding: 1.5rem;
  text-align: center;
}/*# sourceMappingURL=style.css.map */