$primaryColor: #f8f8f5;
$gold: #b59b07;
$background: linear-gradient(180deg, var(--darkBlueColor), #000000);
$shadowInset: #ffffff41;

#eventsPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 14vh;
    // background: var(--backgroundV1);
    background-color: #ffffff;
    flex: auto;
    #tabs-events {
        background-color: #ffffff;
        border-bottom: 1px solid #000000;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        #all-tabs {
            width: fit-content;
            label {
                padding: 10px 20px 5px;
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.01em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        input.activeTab + label {
            background-color: #000000;
            color: var(--secondaryColor);
        }
    }
    #content-events {
        display: flex;
        flex: auto;
        background-color: #f8f8f5;
    }
    #pageContent {
        flex: auto;
        padding-top: 50px;
    }
    .readOnly {
        border:0;
        clip:rect(0,0,0,0);
        height:1px;
        margin:-1px;
        overflow:hidden; 
        padding:0; 
        position:absolute !important;
        white-space:nowrap; 
        width:1px; 
    }
    .tab-content {
        width: 100%;
        background-color: #ffffff;
        // gap: 20px;
        &:not([hidden]) {
            display: flex;
            flex-wrap: wrap;
        }
        .event_wrapper {
            display: flex;
            padding: 20px 10px 0px 10px;
            width: 50%;
            &.mostRecentEvt {
                width: 100%;
                .eventInfo {
                    float: none;
                    .titlePicWrapper {
                        text-align: center;
                    }
                    .eDate {
                        text-align: center;
                    }
                    .placeTimeWrapper {
                        justify-content: center !important;
                        // gap: 50px;
                    }
                }
                .eventPic {display: none;}
                .eventPicWrapper {
                    display: flex !important;                    
                    min-width: 450px !important;
                    height: 100% !important;
                    max-height: 442px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
            .event_card {
                display: flex;
                position: relative;
                box-shadow: 0 4px 4px #00000025;
                width: 100%;
                background-color: #f2f2f2;
                .eventInfo {
                    display: flex;
                    flex: auto;
                    flex-direction: column;
                    gap: 15px;
                    padding: 50px;
                    .eTitle {
                        font-size: 40px;
                        font-weight: 300;
                    }
                    .eDate {
                        font-size: 40px;
                        font-weight: 700;
                    }
                    .eLocation, .eTime {
                        font-size: 24px;
                        font-weight: 300;
                    } 
                    .eDescription {
                        font-size: 18px;
                        margin: auto;
                    }
                    .eLink {
                        font-size: 18px;
                        margin-top: auto;
                        text-align: end;
                        text-decoration: none;
                        color: var(--secondaryColor);
                    }
                    float: left;
                }
                .eventPicWrapper {
                    display: none;
                }
                .titlePicWrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    width: 100%;
                    .eventPic {
                        height: 150px;
                        width: 30%;
                        // height: 100%;
                        object-fit: cover;
                        object-position: top;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 980px){}
@media only screen and (max-width: 640px){}
@media only screen and (min-width: 1551px) {}
@media only screen and (min-width: 1451px) and (max-width: 1650px) {}
@media only screen and (max-width: 1451px) {}
@media only screen and (min-width: 701px) and (max-width: 1200px) {}
@media only screen and (max-width: 1100px) {

    body {
        width: 100% !important;

    }
}